body {
}

h2 {
    font-family: 'HoloLens MDL2 Assets';
    text-align: center;
}

#ButtonGroup {
    margin-top: 20px;
    magin-bottom: 20px;
}

.regField {
    margin: 5px 0;
}

.regFieldLabel {
    text-align: right;
}
