@model int


<div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Messages</h4>
        </div>
        <div class="panel-body">
            <div class="row text-center">
                <b>Total</b>
            </div>
            <div class="row text-center">
                <p>@Model</p>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row" style="text-align:center">
                    <div class="col-sm-12 col-md-12 col-lg-12" style="text-align:center">
                        <a title="Index" href="@Url.Action("Index", "Message")"><span class="glyphicon glyphicon-th-list"></span></a>
                    </div>
            </div>
        </div>
    </div>
</div>