@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    str. Tiprografiei nr. 1<br />
    Suceava<br />
    <abbr title="Phone">P:</abbr>
    004 0758521338
</address>

<address>
    <strong>Support:</strong> <a href="mailto:alexandru.ciurariu@student.usv.ro">alexandru.ciurariu@student.usv.ro</a><br />
    <strong>Marketing:</strong> <a href="mailto:alexandru.ciurariu@student.usv.ro">alexandru.ciurariu@student.usv.ro</a><br />
</address>
